body {
    font: normal 18pt Arial;
    align-items: center;
    background-color: rgb(194, 194, 194);
    display: flex;
    justify-content: center;
    height: 100vh;
}

input {
    font: normal 18pt Arial;
    width: 100px;
    border-radius: 10px;
}

div#resultado {
    margin-top: 10px;
    font-weight: 600;
    /* deixa o texto negrito - font-weight: */
}

button#operacao{
    background-color:  RGB(62, 214, 137);
    color: black;
    width: 80px;
    height: 80px;
    font: normal 18pt Arial;
    border-radius: 10px;
}

button#limpar {
    background-color:  RGB(62, 214, 137);
    color: black;
    width: 200px;
    height: 60px;
    font: normal 18pt Arial;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

div#caixas {
    display: flex;
    gap: 15px;
}

div#operacoes {
    display: flex;
    gap: 15px;
}

div#formato {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: RGB(247, 168, 184);
    height: 33rem;
    width: 27rem;
    padding: 20px;
    border-radius: 50px;
    border: 3px solid #000000;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0.9, 0.9);
}
