/*Configurações globais*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*o tamanho do elemento vai levar em consideração a partir da borda, desconsidera a margem como tamanho do elemento, o tamanho vai só até a borda  */
}

body{
    font-family: "Segoe UI";
    line-height: 1.6;
    color: #333;
}
.container{
    max-width: 1200px;
    margin: 0 auto; /*1º digito: margem vertical, auto: centraliza */
    padding: 0 20px; 
}

.header{
    background-color: #2c1810;
    color: white;
    padding: 1rem 0;
    position: sticky; 
    top: 0; /*coordenada do sticky*/
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /*ultimo num é o desfoque da sombra*/
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu{
    display: flex;
    gap: 2rem; /* aumenta o espaço entre os itens da navbar */
}

.menu a{
    color: white;
    text-decoration: none;
    transition: color 0.5s;
}

.menu a:hover{ /*pseudo classe*/
    color: #d4a574
}

.logo{
    font-size: 1.5rem;
    font-weight: bold;
}

/*HERO SECTION*/

.hero {
    background: linear-gradient(rgba(44, 24, 26, 0.7), rgba(44, 24, 26, 0.3)), url("https://images.unsplash.com/photo-1495474472287-4d71bcdd2085?w=1200&h=600&fit=crop");
    /*colocar cor e imagem junto. Começa a cor com 70% e termina com 30% de opacidade*/
    height: 500px;
    background-size: cover; /*cobrir toda a parte com a imagem para não repetir*/
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero-content p {
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.btn-primary {
    background-color: #d4a574;
    color: white;
    padding: 1rem 2 rem;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.5s;
    transition: scale 0.5s;
}

.btn-primary:hover {
    background-color: #b8935f;
    scale: 1.1;
}