body {
    font: normal 18pt Arial;
}

input {
    font: normal 18pt Arial;
    width: 100px;
}

div#resultado {
    margin-top: 10px;
    font-weight: 600;
    /* deixa o texto negrito - font-weight:*/
}

button {
    background-color: blue;
    color: white;
    width: 200px;
    height: 60px;
    font: normal 18pt Arial;
    border-radius: 10px;
}