/*CSS*/
body {
    background-color: rgb(141, 54, 129);
    color: #fff;
    font: normal 18pt Arial;
}

div#caixaMagica {
    background-color: green;
    color: white;
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 200px;
    border-radius: 10px;
}